* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 1280px;
} 

img {
  display: block;
}

a {
  text-decoration: none;
  color: #000000;
}

li {
  list-style: none;
}

button {
  border: none;
}

a:hover {
  color: #f6f6f6;
}

.footer {
  padding: 15px 0 0 0;
  position: relative;
  margin-top: 30px;
}
.footer .container {
  max-width: initial;
  padding: 0;
}
.footer .container .footer_top {
  display: flex;
  background-color: #f8f8f8;
  padding: 0 130px;
}
.footer .container .footer_top .row {
  width: 100%;
}
.footer .container .footer_top .row .col {
  padding: 15px 0px;
}
.footer .container .footer_top .row .col h1 {
  font-weight: 300;
  font-size: 20px;
  margin-bottom: 10px;
}
.footer .container .footer_top .row .col p {
  font-weight: 200;
  font-size: 12px;
  margin-bottom: 5px;
}
.footer .container .footer_top .row .col a {
  font-weight: 200;
  font-size: 12px;
  color: red;
}
.footer .container .footer_top .row .col_1 {
  flex: 0 0 30%;
}
.footer .container .footer_top .row .col_1 .text {
  padding: 0 10px;
}
.footer .container .footer_top .row .col_2 {
  flex: 0 0 20%;
}
.footer .container .footer_top .row .col_2 .text {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0 10px;
}
.footer .container .footer_top .row .col_3 {
  flex: 0 0 50%;
}
.footer .container .footer_top .row .col_3 .text {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0 10px;
}
.footer .container .footer_bot {
  display: flex;
  background-color: #dedddc;
  padding: 0 130px;
}
.footer .container .footer_bot .row {
  width: 100%;
}
.footer .container .footer_bot .row .col {
  padding: 15px 0px;
}
.footer .container .footer_bot .row .col h1 {
  font-weight: 300;
  font-size: 20px;
  margin-bottom: 10px;
}
.footer .container .footer_bot .row .col p {
  font-weight: 200;
  font-size: 12px;
  margin-bottom: 5px;
}
.footer .container .footer_bot .row .col a {
  font-weight: 200;
  font-size: 12px;
  color: red;
}
.footer .container .footer_bot .row .col_1 {
  flex: 0 0 30%;
}
.footer .container .footer_bot .row .col_1 .text {
  padding: 0 10px;
}
.footer .container .footer_bot .row .col_2 {
  flex: 0 0 20%;
}
.footer .container .footer_bot .row .col_2 .text {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0 10px;
}
.footer .container .footer_bot .row .col_3 {
  flex: 0 0 50%;
}
.footer .container .footer_bot .row .col_3 .text {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0 10px;
}
.footer i {
  position: absolute;
  top: 225px;
  right: 80px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 1280px;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: #000000;
}

li {
  list-style: none;
}

button {
  border: none;
}

a:hover {
  color: #f6f6f6;
}

.footer {
  padding: 15px 0 0 0;
  position: relative;
  margin-top: 30px;
}
.footer .container {
  max-width: initial;
  padding: 0;
}
.footer .container .footer_top {
  display: flex;
  background-color: #f8f8f8;
  padding: 0 130px;
}
.footer .container .footer_top .row {
  width: 100%;
}
.footer .container .footer_top .row .col {
  padding: 15px 0px;
}
.footer .container .footer_top .row .col h1 {
  font-weight: 300;
  font-size: 20px;
  margin-bottom: 10px;
}
.footer .container .footer_top .row .col p {
  font-weight: 200;
  font-size: 12px;
  margin-bottom: 5px;
}
.footer .container .footer_top .row .col a {
  font-weight: 200;
  font-size: 12px;
  color: red;
}
.footer .container .footer_top .row .col_1 {
  flex: 0 0 30%;
}
.footer .container .footer_top .row .col_1 .text {
  padding: 0 10px;
}
.footer .container .footer_top .row .col_2 {
  flex: 0 0 20%;
}
.footer .container .footer_top .row .col_2 .text {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0 10px;
}
.footer .container .footer_top .row .col_3 {
  flex: 0 0 50%;
}
.footer .container .footer_top .row .col_3 .text {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0 10px;
}
.footer .container .footer_bot {
  display: flex;
  background-color: #dedddc;
  padding: 0 130px;
}
.footer .container .footer_bot .row {
  width: 100%;
}
.footer .container .footer_bot .row .col {
  padding: 15px 0px;
}
.footer .container .footer_bot .row .col h1 {
  font-weight: 300;
  font-size: 20px;
  margin-bottom: 10px;
}
.footer .container .footer_bot .row .col p {
  font-weight: 200;
  font-size: 12px;
  margin-bottom: 5px;
}
.footer .container .footer_bot .row .col a {
  font-weight: 200;
  font-size: 12px;
  color: red;
}
.footer .container .footer_bot .row .col_1 {
  flex: 0 0 30%;
}
.footer .container .footer_bot .row .col_1 .text {
  padding: 0 10px;
}
.footer .container .footer_bot .row .col_2 {
  flex: 0 0 20%;
}
.footer .container .footer_bot .row .col_2 .text {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0 10px;
}
.footer .container .footer_bot .row .col_3 {
  flex: 0 0 50%;
}
.footer .container .footer_bot .row .col_3 .text {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0 10px;
}
.footer i {
  position: absolute;
  top: 225px;
  right: 80px;
}

#button {
  display: inline-block;
  background-color: #FF9800;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#button:hover {
  cursor: pointer;
  background-color: #333;
}
#button:active {
  background-color: #555;
}
#button.show {
  opacity: 1;
  visibility: visible;
}

header {
  background-color: #000000;
}
header .container {
  color: #f6f6f6;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px 24px 10px 24px;
}
header .container .header-right {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  align-items: center;
}
header .container .header-right .icon {
  display: flex;
  align-items: center;
  gap: 10px;
}
header .container .header-right .login a {
  color: #f6f6f6;
  opacity: 0.7;
  font-size: 16px;
  font-weight: 300;
  transition: all 0.3s;
}
header .container .header-right .login a:hover {
  opacity: 1;
}
header .container .header-right .register a {
  color: #f6f6f6;
  opacity: 0.7;
  font-size: 16px;
  font-weight: 300;
  transition: all 0.3s;
}
header .container .header-right .register a:hover {
  opacity: 1;
}

.menu .navbar {
  padding-left: 140px;
}
.menu .navbar .navbar-nav .nav-item {
  margin-right: 20px;
  display: inline-block;
  position: relative;
}
.menu .navbar .navbar-nav .nav-item .nav-link {
  opacity: 0.7;
}
.menu .navbar .navbar-nav .nav-item .nav-link:hover {
  color: #000000;
  opacity: 1;
  transition: width 0.5s;
}
.menu .navbar .navbar-nav .nav-item .nav-link:hover::after {
  display: block;
}
.menu .navbar .navbar-nav .nav-item .nav-link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #000000;
  bottom: 0;
  left: 0px;
  display: none;
  transition: width 0.5s;
}

.carousel {
  background-image: url("../../img/image 6.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  position: relative;
  height: 500px;
}
.carousel .carousel-inner {
  position: relative;
}
.carousel .carousel-inner .carousel-item {
  position: relative;
}
.carousel .carousel-inner .carousel-item img {
  padding-left: 120px;
  width: 700px !important;
  height: 450px !important;
}
.carousel .carousel-inner .carousel-item .item-info {
  width: 400px;
  height: 400px;
  position: absolute;
  right: 350px;
  top: 80px;
}
.carousel .carousel-inner .carousel-item .item-info h3 {
  font-size: 40px;
  font-weight: 300;
  color: #000000;
}
.carousel .carousel-inner .carousel-item .item-info p {
  padding: 0 30px 0 0;
  font-size: 20px;
  font-weight: 300;
  color: #000000;
}
.carousel .carousel-inner .carousel-item .item-info button {
  border: none;
  padding: 10px 20px;
  background-color: #f8b653;
  color: #f6f6f6;
  font-size: 20px;
  font-weight: 300;
}

.product {
  margin-top: 30px;
}
.product .container {
  text-align: center;
}
.product .container .product-header h2 {
  font-weight: 400;
  font-size: 40px;
  color: #000000;
  margin-bottom: 50px;
}
.product .container .row {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}
.product .container .row .col {
  width: 334px;
  height: 369px;
  flex: 0 0 calc(30% - 20px);
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.product .container .row .col .col-img {
  flex: 0 0 50%;
}
.product .container .row .col .col-img img {
  margin-top: 50px;
  display: block;
  width: 100%;
  height: 160px;
}
.product .container .row .col .col-info {
  text-align: left;
  margin-right: 80px;
}
.product .container .row .col .col-info h4 {
  height: 40px;
}
.product .container .row .col .col-info p {
  display: inline-block;
}
.product .container .row .col .col-button .btn-buy {
  padding: 10px 20px;
  width: 175px;
  background-color: #e1b067;
  font-weight: 200;
  font-size: 24px;
  line-height: 29.05px;
}
.product .container .row .col .col-button .btn-price {
  padding: 6px 20px;
  background-color: #dedddc;
  width: 160px;
  font-weight: 600;
  font-size: 24px;
  margin-left: -4px;
}

footer {
  margin-top: 100px;
}
footer img {
  width: 100%;
}

.detail .container {
  padding-top: 100px;
}
.detail .container .main {
  gap: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.detail .container .main .img {
  cursor: pointer;
  position: relative;
  text-align: center;
  flex: 0 0 30%;
  background-color: #f8f8f8;
  width: 334px;
  height: 335px;
  display: flex;
  justify-content: center;
}
.detail .container .main .img img {
  margin-left: 50px;
  display: block;
  width: 100%;
}
.detail .container .main .product-info {
  padding-right: 150px;
  flex: 0 0 70%;
}
.detail .container .main .product-info h3 {
  font-weight: 300;
  font-size: c3-text-s3;
  line-height: 36.31px;
}
.detail .container .main .product-info span {
  font-weight: 400;
  font-size: 16px;
  line-height: 19.36px;
  margin-bottom: 20px;
  display: inline-block;
}
.detail .container .main .product-info .size h5 {
  color: #1ed90e;
  font-size: 24px;
  font-weight: 500;
}
.detail .container .main .product-info .size button {
  padding: 10px;
  margin-right: 15px;
  font-weight: 600;
  font-size: 24px;
  color: #1e1d1d;
}
.detail .container .main .product-info .price {
  color: #fc0303;
  font-weight: 600;
  font-size: 30px;
}
.detail .container .main .product-info .amount {
  margin-bottom: 20px;
  display: flex;
  gap: 20px;
  align-items: center;
}
.detail .container .main .product-info .amount .plus {
  width: 50px;
  height: 50px;
  color: #fffcfc;
  font-size: 40px;
  line-height: 50px;
  background-color: #6181f3;
}
.detail .container .main .product-info .amount p {
  display: inline;
  margin: 0;
  font-weight: 400;
  font-size: 40px;
}
.detail .container .main .product-info .amount .minus {
  width: 50px;
  height: 50px;
  color: #fffcfc;
  font-size: 40px;
  line-height: 50px;
  background-color: #6181f3;
}
.detail .container .main .product-info .add-cart {
  display: inline-block;
  padding: 15px 35px;
  background-image: linear-gradient(120deg, #d017ee, #3e20f8);
}
.detail .container .main .product-info .add-cart a {
  color: #f6f6f6;
}
.detail .container .main .product-info .add-cart a:hover {
  color: #f6f6f6;
}

.product .container .row .col-3 {
  width: 334px;
  height: 369px;
  flex: 0 0 calc(30% - 20px);
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 40px;
}
.product .container .row .col-3 .col-img {
  flex: 0 0 50%;
}
.product .container .row .col-3 .col-img img {
  margin-top: 50px;
  display: block;
  width: 100%;
  height: 160px;
}
.product .container .row .col-3 .col-info {
  text-align: left;
  margin-right: 80px;
}
.product .container .row .col-3 .col-info h4 {
  height: 40px;
}
.product .container .row .col-3 .col-info p {
  display: inline-block;
}
.product .container .row .col-3 .col-button .btn-buy {
  padding: 10px 20px;
  width: 175px;
  background-color: #e1b067;
  font-weight: 200;
  font-size: 24px;
  line-height: 29.05px;
}
.product .container .row .col-3 .col-button .btn-price {
  padding: 6px 20px;
  background-color: #dedddc;
  width: 160px;
  font-weight: 600;
  font-size: 24px;
  margin-left: -4px;
}